.git
.gitignore
.cursor
.bin
bin
**/__pycache__
**/*.md
**/*_test.go
**/*.test.mjs
testdata
third_party
whisper-wasm
scripts
.golangci.yml
docker-compose*.yml
Dockerfile*
*.tar
*.zip
.DS_Store
agent-transcripts
